﻿body.no-scroll {
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}


.btn-primary:active {
	box-shadow: none;
}


.footer-welp {padding-left: 15px;}

.step-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: 295px;
	margin: 90px 20px;
	text-align: center;
}

.step-block-first:after {
	content: "";
	position: absolute;
	top: 82px;
	right: -100px;
	width: 155px;
	height: 3px;
	background: url(../images/lines/line-5.png) repeat 0 0;
}

.step-block .step-label {
	display: block;
	margin-bottom: 20px;
	font: 700 16px "Open Sans", Helvetica, sans-serif;;
	color: #5c5d5f;
}

.step-block .btn {
	text-transform: uppercase;
	width: 100%;
	padding: 14px 0;
	white-space: normal;
}

.step-block .btn.disabled {background-color: #ccc;}

.step-block.completed .btn {background-color: #66b964;}

.step-block.disabled img {
	opacity: .5;
}

.btn-area {
	text-align: right;
}

.btn-area-double .btn {
	margin-left: 15px;
}

.btn-area .btn {
	text-transform: uppercase;
	padding: 14px 25px;
}

.btn-area .btn.disabled {
	background-color: #ccc;
}


.steps {
	margin: 20px 0 30px;
	padding: 0;
	text-align: center;
	list-style: none;
}

.steps li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 40px;
	font: 600 12px "Open Sans", Helvetica, sans-serif;;
	color: #5c5d5f;
}

.steps li:after {
	content: "";
	position: absolute;
	top: 10px;
	right: -63px;
	width: 36px;
	height: 8px;
	background: url(../images/lines/line-6.png) no-repeat 0 0;
}

.steps li:first-child {margin-left: 0;}
.steps li:last-child {margin-right: 0;}
.steps li:last-child:after {display: none;}


.steps .step-label {
	display: block;
	margin-bottom: 2px;
}

.steps .step-title {
	display: block;
	padding-bottom: 5px;
	font-size: 14px;
	border-bottom: 2px solid transparent;
}

.steps li.current .step-title {
	font-size: 18px;
	color: #000000;
	border-bottom-color: #fbb731;
}


.radio-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	min-width: 30px;
	min-height: 30px;
}
.radio-button input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
}
.radio-button input[type="radio"] + label {
	position: relative;
	margin: 0;
	min-width: 30px;
	min-height: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	text-transform:none;
	cursor: pointer;
	color: #000;
}
.radio-button input[type="radio"] + label:after {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border: 3px solid #fbb731;
	border-radius: 50%;
}
.radio-button input[type="radio"]:checked + label:after {
	background-color: #fbb731;
}

.comment-textarea textarea {
	resize: none;
	width: 245px;
	height: 70px;
	overflow: auto;
	border-radius: 4px;
	border: 1px solid #f3f1f1;
	padding: 10px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.03);
	font: 600 12px "Open Sans", Helvetica, sans-serif;;
	color: #000;
	outline: none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-align: left;
}

.comment-textarea textarea::placeholder {
	color: #5c5d5f;
	font-weight: 600;
}

.poll-table tbody tr:nth-child(even) {background: #f7f7f7}
.poll-table tbody tr:nth-child(odd) {background: #fff;}

.poll-table th {
	width: 120px;
	padding: 20px;
	text-align: center;
	border: 1px solid rgba(0,0,0,.10);
	font: 700 10px "Open Sans", Helvetica, sans-serif;;
	color: #000;
}

.poll-table tr th:first-child, .poll-table tr th:last-child {
	width: 285px;
}

.poll-table th span {
	display: block;
	font-size: 18px;
}

.poll-table th img {
	display: block;
	margin: 0 auto 20px;
}

.poll-table td {
	padding: 20px;
	border: 1px solid rgba(0,0,0,.10);
	text-align: center;
}

.poll-table tr td:first-child, .poll-table tr th:first-child {border-left: none;}
.poll-table tr td:last-child, .poll-table tr th:last-child {border-right: none;}

.poll-table td p {
	position: relative;
	font-size: 13px;
	line-height: normal;
	color: #5c5d5f;
	padding-left: 10px;
	text-align: left;
}

.poll-table td p span {
	position: absolute;
	top: 1px;
	left: -8px;
	font: 700 13px "Open Sans", Helvetica, sans-serif;;
	color: #000;
}

.box-module {
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.box-icon {
	display: inline-block;
	vertical-align: middle;
	width: 190px;
}

.box-icon figure {
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: 0 0 0 30px;
	border-radius: 50%;
	background-color: #fff;
}

.box-module p {
	display: inline-block;
	vertical-align: middle;
	max-width: 400px;
	width: calc(100% - 400px);
	margin: 0;
	padding: 0 20px 0 0;
	font: 600 14px/24px "Open Sans", Helvetica, sans-serif;;
	text-align: left;
	color: #fff;
}

.box-module .comment-textarea {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 598px);
}

.box-module-comment {
	margin-top: 30px;
	margin-bottom: 30px;
}

.box-module-comment:after {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #dfdfdf;
}

.box-module-comment .comment-textarea {
	width: calc(100% - 194px);
}

.box-module .comment-textarea textarea {
	width: 100%;
	height: 100px;
	padding: 15px;
	box-shadow: none;
	border-color: #fff;
	font-size: 14px;
}

.box-module .comment-textarea textarea::placeholder {
	font-size: 14px;
	font-weight: 500;
}

.box-module-red {background-color: #f24f4f;}
.box-module-yellow {background-color: #f2ae4e;}
.box-module-green {background-color: #51c78b;}
.box-module-blue {background-color: #52aeef;}
.box-module-comment {background-color: #5c5d5f;}

.message-box {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 6px;
	padding: 15px 15px 15px 65px;
	background: url(../images/icons/icon-date-flat.png) no-repeat 20px center #44098d;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font: 600 16px "Open Sans", Helvetica, sans-serif;;
	color: #fff;
	border: none;
	outline: 0;
}

.message-box:focus {
	color: #fff;
}

.cell-area {
	padding: 0;
}

.cell-area .form-item .bootstrap-select .btn {
	white-space: normal;
	height: auto;
	padding: 5px 0;
	text-align: left;
	font-size: 12px;
	color: #000;
}

.cell-area .pull-left {
	float: none !important;
}

.cell-area h5 {
	padding: 0 15px;
	margin: 20px 0 15px;
	font: 600 16px "Open Sans", Helvetica, sans-serif;;
	color: #3d3b3b;
}
.cell-area h6 {
	margin: 20px 0 15px;
	padding: 0 15px;
	font: 600 16px "Open Sans", Helvetica, sans-serif;;
	color: #5c5d5f;
}
.cell-area p {
	margin: 0 0 15px;
	padding: 0 15px;
	font: 400 16px/normal "Open Sans", Helvetica, sans-serif; !important;
	color: #5c5d5f;
}
.cell-area textarea {
	width: 100%;
	height: 120px;
	padding: 10px;
	outline: 0;
	resize: none;
}
.cell-area:first-child {border-top: 1px solid #dfdede;}
.cell-area:last-child {margin-bottom: 20px}

@media (max-width: 860px) {
	.box-module p {
		width: calc(100% - 555px);
	}
	.box-module .comment-textarea {
		width: calc(100% - 463px);
	}
	.box-module-comment .comment-textarea {
		width: calc(100% - 194px);
	}
}

@media (min-width: 768px) and (max-width: 850px) {
	.box-module p {
		width: 265px;
	}
	.box-module .comment-textarea {
		width: calc(100% - 463px);
	}
	.box-module-comment .comment-textarea {
		width: calc(100% - 194px);
	}
}

@media (max-width: 767px) {
	.box-module .box-icon {
		width: 100%;
		max-width: 100%;
	}
	.box-icon figure {
		margin: 10px auto 20px;
	}
	.box-module p {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto 20px;
		padding: 0;
		min-height: 80px;
		text-align: center;
		font-size: 14px !important;
	}
	.box-module .comment-textarea {
		width: 100%;
		max-width: 100%;
	}
	.box-module .comment-textarea textarea {height: 160px;}
}

@media (max-width: 991px) {
	.btn-area {
		padding: 0 20px;
		text-align: center;
	}
	.btn-area .btn {
		width: 100%;
	}
	.btn-area-double .btn {
		width: 45%;
		display: inline-block;
		margin: 0 10px;
	}
	.box-module {
		margin: 10px 10px 0;
	}
	.box-module-comment {
		margin-bottom: 15px;
		margin-top: 30px;
	}
	.box-module-comment:after {
		top: -15px;
	}
	.message-box {margin: 20px auto 30px;}
}

@media (max-width: 767px) {
	.cell-area .form-item .form-group .form-control {
		padding-left: 12px;
	}
	.step-block {
		max-width: 240px;
		margin: 60px 15px 40px;
	}
	.step-block-first:after {
		right: -75px;
		width: 120px;
	}
	.message-box {
		margin: 10px;
		text-align: left;
	}
	.btn-area-double {
		padding: 0 10px;
	}
	.btn-area-double .btn {
		width: 100%;
		margin: 5px 0;
	}
	.steps li {
		width: calc(100% / 3 - 10px);
		margin: 0;
		padding: 0 10px;
		font-size: 12px;
	}
	.steps li:after {right: -10px;}
	.steps li .step-title {
		font-size: 12px;
		display: inline-block;
	}
	.steps li.current .step-title {font-size: 12px}


	.navbar-nav {
		height: calc(100vh - 140px);
		overflow-y: auto;
		overflow-x: hidden;
	}

}

@media (max-width: 545px) {
	.step-block {max-width: 120px;}
	.step-block img {
		width: 75%;
	}
	.step-block-first:after {
		top: 76px;
		right: -40px;
		width: 45px;
		height: 2px;
		background-size: cover;
	}
	.steps {margin: 20px 0;}
	.steps li {
		font-size: 10px;
	}
	.steps li:after {right: -20px;}
	.steps li .step-title {
		font-size: 10px;
		padding: 0 10px 5px;
	}
	.steps li.current .step-title {font-size: 10px}
}

@media (max-width: 375px) {
	.steps li:after {
		width: 23px;
		background-position: right 0;
	}
}

