
.mobile-chat{
    display: none;
}

.chat-inner-left-mobile {
    float: left;
    position: inherit;
    margin-top: -10px;
    margin-bottom: 0px;
    max-height: 500px;
    max-width: 990px;
    width: 100%;
    background-color: white;
}

.inner-left-header-mobile{
    max-width: 990px;
    min-height: 75px;
    width: 100%;
    float: left;
    background-color: #FDB813;
}

.inner-left-header-mobile .chat-btn, .inner-left-header-mobile .back-btn {
    font-size: 15px;
}

.chat-inner-left-list-mobile{
    margin-top: 0px;
    overflow: auto;
    overflow-x: hidden;
    float: left;
    height: 500px;

    background-color: #fff;

}

.chat-person-mobile{
    cursor: pointer;
    width: 100%;
    height: 85px;
    float: left;
    border-bottom: 1px solid #F3F1F2;
}


.chat-person-title-mobile{

    max-width: 80%;
    margin-top: 27px;
    margin-left: 10px;
    float: left;
    color: #5B595C;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
}

.chat-person-dk-mobile{
    max-width: 150px;
    width: 20%;
    float: left;
    text-align: right;
    padding-right: 20px;
    font-family: "Open Sans", sans-serif;

}


.person-span-mobile{
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 900px;
}

.select-row{
    margin: 0px auto;
    width: 70%;


}

.chat-person-txt-mobile{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 990px;
    width: 77%;
    float: left;
    position: inherit;
    color: #5B595C;

    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
}

.chat-mobile-dialog{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    height: 600px;
    background-color:#F3F1F2 ;
}

.chat-mobile-dialog .form-container .form-item .form-group .form-control {
    padding: 0 10px;
    line-height: normal;
}

.chat-mobile-dialog .form-container .form-item .bootstrap-select .btn .bs-caret {
    right: 0px;
}



.mobile-image{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-top: 0px;

}

.mobile-select {
    width: 60%;
    margin: 0px auto;
}

.mobile-row{
    height: 50px;
    margin-top: -50px;
    border:1px solid #000;
}

#mobile-add-person{
    background-color: #F3F1F2;
}
.mobile-button{
    width: 100%;
    text-align: center;
}


.chat-inner-mobile {
    /* float: left;
     position: relative;
     padding-left: 10px;
     background-color: red;
     margin-bottom: 0px;
     max-height: 500px;
     max-width: 850px;
     margin-left: 5px;
     margin-top: 0px;
     width: 90%;*/

    padding-left: 0px;
    max-width: 990px;
    position: relative;
    margin:0 auto;
    margin-left: 0px;
}

.chat-window-mobile{
    margin-top: 10px;
    width: 100%;
    float: left;
    height: 525px;

}

#header-nav{
    margin-bottom: 0px;
}

.mobile-frame{
    margin-top: 13px;
    margin-bottom: 0px;
}

.margintop{
    margin-top: -20px; !important;
}

.margintop2{
    margin-top: -30px; !important;
}

.mobil-clear{
    width: 100%;
    float: left;
    height: 100px;
}

.chat-smile-mobile{
    overflow: hidden;
    height: 45px;
    width: 45px;
    margin: 0px;
    border-radius: 5px 0 0 5px;
}

.chat-smile-mobile img {
    width: 100%;
}

.chat_input_mobile{
    float: left;
    width: calc(100% - 100px);
    margin-right: 10px;
    background-color: #F3F1F2;
    border: 0px;
    padding: 13px 10px;
    border-radius: 0 5px 5px 0;
    box-sizing:border-box;
    outline: none;
}

.chat_button_mobile {
  width: 45px;
  border-radius: 5px;
  background: url(../images/icons/icon-send.png) #FBB731 no-repeat center center;
  background-size: 50%;
  height: 45px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  font-size: 0;
    outline: none;
}


.aligncenter{
    text-align: center;
    border: 0px solid #000;
    margin: 0px auto;
    width: 100%;
    float: left;
    margin-top: -27px;
}


@media (max-width: 875px) {
 .smiley-icon-mobile{
     width: 150px;
     height: 150px;
     padding: 5px 10px 0px 20px;
 }
}

@media (max-width: 790px) {
    .smiley-icon-mobile{
        width: 130px;
        height: 130px;
        padding: 5px 5px 0px 5px;
    }


}

@media (max-width: 690px) {
    .smiley-icon-mobile{
        width: 120px;
        height: 120px;
        padding: 5px 5px 0px 5px;
    }

}

@media (max-width: 632px) {
    .smiley-icon-mobile{
        width: 105px;
        height: 105px;
        padding: 3px 5px 0px 5px;
    }
}

@media (max-width: 551px) {
    .smiley-icon-mobile{
        width: 90px;
        height: 90px;
        padding: 5px 5px 0px 5px;
    }

}
@media (max-width: 481px) {

    .smiley-set{
        margin-left: 5px;
    }
}
.smile-pic{
    max-width: 100%;
    max-height: 100%;
}
.pull-mobile{

    float: right;
    margin-top: -40px;

}


.chat-div-mobile{
    width: 100%;
    display: none;
    text-align: center;
    padding-top: 30px;
}


.smiley-icon-mobile{
    cursor: pointer;
    float: left;
    width: calc(100% / 3 - 6px);
    text-align: center;
    height: 55px;
    padding: 5px 25px 0px 25px;
    border:1px solid #f1f3f2;
    margin: 5px -1px -1px 5px;

}

.smiley-set{
    display:  block;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    white-space: normal;
    padding-bottom: 1px;
}

.mobile-separator{
    width: 100%;
    display:  block;
    position: absolute;
    height: 5px;
    top:  0px;
    margin-left: 0px;
    background-color: #fbb732;
}
.smiley-window-mobile{
    /*width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
    min-height: 160px;
    height: auto;

    bottom: 0px;
    border: 0px solid #ff0000;
    margin: 0px auto;*/
    overflow: hidden;
    width: calc(100% - 12px);
    text-align: center;
    padding-left: 0px;
    padding-top: 5px;
    position: absolute;
    left: 0;
    bottom: 75px;
    height: 153px;
    border: 0px solid #ff0000;
    background-color: #fff;

}

.smiley-window-mobile-container {
    white-space: nowrap;
    height: 100%;
}

.fly_sohbet{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    color: white;
    float: left;
    font-family: "Open Sans", sans-serif;;
    font-weight: bold;
}

.slick-dots {
    position: absolute;
    top: 124px;
    text-align: center;
    bottom: 0px;
    margin: 0px;
    padding: 0;
    width: 100%;
    background-color: #f3f1f2;    
}

.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: #fff;
}

.slick-dots li.slick-active button {
    background-color: #fbb732;
}

.nokta{
    border-radius: 50%;
}

.cw-mobile{
    margin-top: 0px;
    overflow: auto;
    overflow-x: hidden;
    float: left;
    height: 520px;
    width: 100%;
}
#chat-window-mobile::-webkit-scrollbar{
    width:12px;

    margin-top: 10px;
}

#chat-window-mobile::-webkit-scrollbar-track{
    margin-top: 10px;
    margin-bottom: 10px;
    border:0px #787878 solid;
    border-radius:10px;
    height: 10px;
    -webkit-box-shadow:0 0 6px #c8c8c8 inset;
}
#chat-window-mobile::-webkit-scrollbar-thumb{
    background-color:#fdb813;
    border:0px solid #000000;
    border-radius:16px;
    height: 15px;
}
#chat-window-mobile::-webkit-scrollbar-thumb:hover{
    background-color:#fdb813;
    border:0px solid #fff;
}

.void{
    margin-bottom: 20px;
}



#c { background: gray }
#c .ico {
    background: lime;
    color: lime;
    float: left;
    margin: 0px;
}

#c div {
    margin-left: 20px; /* Adjust as needed */
}

.selectpicker{
    width: 280px;
}

#mobile-chat {
    overflow: hidden;
    float: left;
    width: 100%;
    padding-top: 75px;
    height: calc(100vh - 75px);   
}

#mobile-chat .inner-left-header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

#mobile-chat .chat-bottom-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
}

#mobile-chat .chat-frame {
    position: relative;
    z-index: 4;
    margin: 0;
    height: calc(100vh - 150px);
}

#mobile-chat .chat-window-mobile {
    height: calc(100vh - 160px);
}

#mobile-chat .cw-mobile {
    height: calc(100% - 80px);
}

#chat-btn-mobile img {
    width: 70%;
    margin: 8px 0;
}
